
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, Helvetica sans-serif;
  width: 100%;
  height: 100%;
  -ms-overflow-x: hidden;
      overflow-x: hidden;
}

.container {
  position: relative;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;  
}

.header {
  margin: 30px 0;
}

.title-hero {
  width: 500px;
  font-size: 32px;
}

.title-window-header {
  font-size: 18px;
}

.window {
  position: absolute;
  float: left;
  background-color: #f8f5f0;;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 500px;
  height: 300px;
}

.window-header {
  padding: 4px 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  cursor: move;
  background-color: #3475ab;
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  *zoom: 1;
}

.window-header::before,
.window-header::after {
  content: "";
  display: table;
}

.window-header:after {
  clear: both;
}

.window-body {
  padding: 15px;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #9428c9;
}

.btn-window-header {
  padding: 2px 6px;
  color: #fff;
}

.btn-window-close {
  float: right;
  height: 100%;
  background-color: #d84b3b;
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.list-item {
  float: left;
  padding: 20px 30px;
  margin-right: 10px;
  color: #fff;
  background-color: #aaa;
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  background: none;
  box-shadow: none;
  outline: none;
}
/* reset */
